server/node_modules/
client/node_modules/
admin_tools/node_modules/
.vscode/
playground/
server/docs/JsDoc/out
server/src/cpp_addons/CPP_ship_combat_calc/CMakeFiles
server/src/cpp_addons/CPP_ship_combat_calc/CMakeCache.txt
server/src/cpp_addons/CPP_ship_combat_calc/*.sln
server/src/cpp_addons/CPP_ship_combat_calc/*.vcxproj
server/src/cpp_addons/CPP_ship_combat_calc/*.vcxproj.*
server/src/cpp_addons/CPP_ship_combat_calc/*.cmake
/server/src/cpp_addons/CPP_ship_combat_calc/Debug
/server/src/cpp_addons/CPP_ship_combat_calc/CPP_Combat_Calculate.dir
/server/src/cpp_addons/CPP_ship_combat_calc/.vs
/server/src/cpp_addons/CPP_ship_combat_calc/x64
/server/node_modules
/server/src/cpp_addons/CPP_ship_combat_calc/node_modules
/server/src/cpp_addons/CPP_ship_combat_calc/draft
/server/src/cpp_addons/CPP_ship_combat_calc/tests/CMakeFiles
/server/src/cpp_addons/CPP_ship_combat_calc/tests/CPP_Combat_Calculate_Tests.dir
/server/src/cpp_addons/CPP_ship_combat_calc/tests/Debug
/server/src/cpp_addons/CPP_ship_combat_calc/tests/cmake_install.cmake
/server/src/cpp_addons/CPP_ship_combat_calc/tests/ALL_BUILD.vcxproj
/server/src/cpp_addons/CPP_ship_combat_calc/tests/ALL_BUILD.vcxproj.filters
/server/src/cpp_addons/CPP_ship_combat_calc/tests/CPP_Combat_Calculate_Tests.sln
/server/src/cpp_addons/CPP_ship_combat_calc/tests/CPP_Combat_Calculate_Tests.vcxproj
/server/src/cpp_addons/CPP_ship_combat_calc/tests/CPP_Combat_Calculate_Tests.vcxproj.filters
/.vscode
/server/build
.vscode/launch.json
/server/.env
/.idea